#wrap {
    text-align: center;
    margin: 50px;
}

header,
nav,
section,
footer {
    border: 2px dashed #555;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    color: rgb(255, 255, 255); font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    border-right: 1px solid red;
    padding-right: 20px;
}

header a {
    text-decoration: none;
    color: red;
}
nav {
    background-color: black;
}
section{margin-top: 50px;}
section iframe,
section img{width: 500px; height: 300px;}